name: Rodar todos os nossos testes

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  runTest:
    runs-on: ubuntu-latest

    steps:
      - run:
        name: Check out repository
      - uses: actions/checkout@v2

      - name: Set up JDK 22
        uses: actions/setup-java@v2
        with:
          java-version: '22'

      - name: Validate Maven
        run: mvn --version

      - name: Run tests
        run: mvn test -Dtest=Teste